@import "main";

.clearfix {
	@include clearfix;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	@include background-image(linear-gradient(to right, 
		#f98600 	   0%, #f98600 16.66667%, 
		#fb8d00 16.66667%, #fb8d00 33.33333%, 
		#fd9300 33.33333%, #fd9300 50%, 
		#ff9800 	  50%, #ff9800 66.66667%, 
		#ff9e0f 66.66667%, #ff9e0f 83.33333%, 
		#ffa41f 83.33333%, #ffa41f 100%
	));
}

.view-animate {
	&.ng-enter {
		@include transition(opacity .5s ease);
		opacity: 0;
		&.ng-enter-active {
			opacity: 1;
		}
	}
	&.ng-leave {
		opacity: 1;
		&.ng-leave-active {
			opacity: 0;
		}
	}
}