<h1>Login</h1>
<form name="loginForm" ng-submit="submitForm(loginForm.$valid)" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : loginForm.username.$invalid && !loginForm.username.$pristine }">
        <label>Username</label>
        <input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="3"
               ng-maxlength="15" required>
        <p ng-show="loginForm.username.$error.minlength" class="help-block">Username is too short.</p>
        <p ng-show="loginForm.username.$error.maxlength" class="help-block">Username is too long.</p>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
        <label>Password</label>
        <input type="password" name="password" class="form-control" ng-model="user.password" ng-minlength="4"
               ng-maxlength="50" required>
        <p ng-show="loginForm.password.$error.minlength" class="help-block">Password is too short.</p>
        <p ng-show="loginForm.password.$error.maxlength" class="help-block">Password is too long.</p>
    </div>
    <p ng-show="failedLoginAttempt" class="help-block">Username or password is wrong.</p>
    <button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid">Submit</button>
</form>